body{
  margin: 0;
  padding: 0;
}

*, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input-wrap{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input-wrap h4{
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 15px;
}

.input-form button{
  outline: none;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.result{
  margin-top: 10px;
  font-size: 15px;
}